.btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin: 2px 0;
    border: solid 2px transparent;
    border-radius: 0.4em;
    padding: 0.5em 1em;
    outline: solid transparent;
}

.btn--primary {
    color: #ffffff;
    background-color: var(--color-1-1);
    /* color: var(--color-1-3);
    background-color: var(--color-1-1); */
}

.btn:active {
    transform: translateY(1px);
    filter: saturate(150%);
}

.btn:hover,
.btn:focus {
    color: var(--color-1-1);
    border-color: currentColor;
    background-color: white;
}