.container-task {
    width: 110px;
    height: 130px;
    padding: 10px;
    text-align: center;
}

.container-task:hover {
    cursor: pointer;
}

.logo-task {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border: 1px solid var(--purple-2);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-task i {
    font-size: 3rem;
    color: var(--color-1-2);
}

.container-task:hover .logo-task{
    background-color: var(--color-1-3);
}

.logo-description {
    margin-top: 10px;
    line-height: 1;
    font-size: 0.9rem;
    font-weight: 600;
}
