/* * Margin */

/* Margin Y */
.u-my-0 {
    margin-block: 0.5rem;
}
.u-my-1 {
    margin-block: 1rem;
}
.u-my-2 {
    margin-block: 2rem;
}
.u-my-2-5 {
    margin-block: 2.5rem;
}
.u-my-3 {
    margin-block: 3rem;
}


/* Margin Bottom */
.u-mb-0 {
    margin-block-end: 0.5rem;
}
.u-mb-1 {
    margin-block-end: 1rem;
}
.u-mb-2 {
    margin-block-end: 2rem;
}

/* Margin Left */
.u-ml-0 {
    margin-inline-start: 0.5rem;
}
.u-ml-1 {
    margin-inline-start: 1rem;
}
.u-ml-2 {
    margin-inline-start: 2rem;
}


/* * Padding */

/* Padding Y */
.u-py-0 {
    padding-block: 0.5rem;
}
.u-py-1 {
    padding-block: 1rem;
}
.u-py-2 {
    padding-block: 2rem;
}
.u-py-2-5 {
    padding-block: 2.5rem;
}
.u-py-3 {
    padding-block: 3rem;
}

/* Padding */
.u-p-0 {
    padding: 0.5rem;
}
.u-p-1 {
    padding: 1rem;
}
.u-p-2 {
    padding: 2rem;
}
.u-p-2-5 {
    padding: 2.5rem;
}
.u-p-3 {
    padding: 3rem;
}