
.WrapperForm {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
}

.WrapperForm-fieldset {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, 25%);
    gap: 0.7rem;
    margin: auto;
}

.WrapperForm-fieldset input, .WrapperForm-fieldset select{
    height: 1.7rem;
    min-width: 271px;
    max-width: 300px;
    padding-block: 0;
    border-color: var(--color-4-4);
}

.WrapperForm-fieldset input:focus, .WrapperForm-fieldset select:focus {
    background-color: var(--color-3-1);
    border: 1px solid var(--color-1-2);
    box-shadow: var(--purple-2) 0px 0px 15px;
    box-shadow: var(--color-1-2) 0px 0px 4px;
}

.WrapperCustomer-label {
    height: fit-content;
}

.WrapperCustomer-label p {
    margin-bottom: 3px;
    font-size: 0.9rem;
    opacity: 0.9;
}


hr {
    margin: 1rem 0;
}

@media (max-width: 830px) {
    .WrapperForm {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}